<form [formGroup]="form">
  <div>
    <mat-form-field data-test-id="first-name-group">
      <input matInput
        data-test-id="firstName"
        placeholder="First name"
        formControlName="firstName"
        name="firstName">
      <mat-error *ngIf="form.get('firstName').hasError('required')">
        Required field
      </mat-error>
    </mat-form-field>
  </div>
  <div>
    <mat-form-field data-test-id="surname-group">
      <input matInput
        data-test-id="surname"
        placeholder="Surname"
        formControlName="surname"
        name="surname">
      <mat-error *ngIf="form.get('surname').hasError('required')">
        Required field
      </mat-error>
    </mat-form-field>
  </div>
  <div>
    <mat-form-field data-test-id="email-group">
      <input matInput
        data-test-id="email"
        placeholder="Email"
        formControlName="email"
        name="email">
      <mat-error *ngIf="form.get('email').hasError('required')">
        Required field
      </mat-error>
    </mat-form-field>
  </div>
  <div>
    <mat-form-field data-test-id="password-group">
      <input matInput
        data-test-id="password"
        placeholder="Password"
        formControlName="password"
        name="password">
      <mat-error *ngIf="form.get('password').hasError('required')">
        Required field
      </mat-error>
    </mat-form-field>
  </div>

  <button data-test-id="create-student-button"
    mat-raised-button
    color="primary"
    [disabled]="disableCreate$ | async"
    (click)="create()">Create</button>
</form>
