<mat-card *ngIf="model">
  <mat-card-header>Upcoming schedule</mat-card-header>

  <mat-card-content>
    <fs-loadable [model]="model">
      <p *ngIf="!hasScheduled();else scheduled"
        data-test-id="nothing-scheduled">
        Nothing upcoming
      </p>
      <ng-template #scheduled>
        <ul data-test-id="scheduled-classes">
          <li *ngFor="let scheduledClass of model.scheduledClasses; let i=index"
            [attr.data-test-id]="'scheduled-class-' + i">
            {{scheduledClass.name}} - {{scheduledClass.startTime.toTimeString()}}
          </li>
        </ul>
      </ng-template>
    </fs-loadable>
  </mat-card-content>
</mat-card>
